.home-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);

  .text-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
  }

  h1 {
    color: var(--text-primary);
    font-size: 8rem;
    margin: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(135deg, #ffb077, #b82698);
  }
}

.text-zone {
  animation: fadeIn 1s 0.2s backwards;
}

h2 {
  color: #8d8d8d;
  margin-top: 20px;
  font-size: 1.5rem;
  letter-spacing: 3px;
  animation: fadeIn 1s 0.2s backwards;
}

.btn-project-request {
  margin-top: 1rem;
}

.link-project-request {
  color: var(--text-primary);
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid var(--blue-color);
  animation: fadeIn 1s 0.2s backwards;
  margin-left: 10rem;

  &:hover {
    background: #4863f7;
    color: #fff;
    transform: scale(2.1);
  }
}

.divRowDown {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

.divRowDown svg {
  cursor: pointer;
  position: absolute;
  animation: MoveUpDown 1s linear infinite;
  color: var(--text-secondary);
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

.divSocialIcons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10rem;

  a {
    color: var(--text-primary);
  }

  svg {
    cursor: pointer;
    padding-right: 6rem;
  }
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
  .home-page {
    h1 {
      font-size: 4rem;
    }

    .text-zone {
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  .link-project-request {
    margin-left: 5rem;
  }

  .divSocialIcons {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 7rem;

    svg {
      padding-right: 1rem;
    }
  }
}
