
.timelineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    background-color: var(--background);

    .descriptionTimeline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 420px;
        margin-left: 10%;

        p {
            font-size: 3rem;
            font-family: 'Inter';
            font-weight: 600;
            color: var(--text-primary);
            margin: 0;
        }

        h1 {
            font-size: 8rem;
            font-family: 'Inter';
            font-weight: 600;
            color: var(--text-primary);
            width: 60%;
            margin: 0;
        }
    }
   
}

.AccordionRoot {
    border-radius: 6px;
    width: 70%;
}

.AccordionItem {
    overflow: hidden;
    margin-top: 1px;
}

.AccordionTrigger {
    width: 100%;
    height: 80px;
    font-family: "Inter";
    font-weight: 600;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    background-color: #DF6A52;
    border: none;
    border-radius: 10px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
}

.AccordionContent {
    overflow: hidden;
    font-size: 15px;
    color: white;
}

.AccordionContent[data-state='open'] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state='closed'] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
    padding: 15px 20px;
    font-family: "Inter";
    font-size: 1.5rem;
    letter-spacing: 0.5;
    font-weight: 500;
    color: var(--text-primary);
}

.AccordionChevron {
    color: var(--violet10);
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
}
  
@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {

    .timelineContainer {
        .descriptionTimeline {
            p {
                font-size: 2rem;
            }
    
            h1{
                font-size: 5rem;
            }
        }
    }

    .AccordionTrigger {
        font-size: 1rem;
    }
}