html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 300 11px/1.4 "Helvetica-Neue", "sans-serif";
  background: #1d1d1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 999999999999999;
  font-family: "Inter";
}

* {
  -webkit-font-smoothing: antialiased;
}

.typewrite {
  text-decoration: none;
}

p {
  color: var(--text-primary) !important;
  font-size: 1.2rem !important;
  font-weight: 600;
}

h1 {
  color: var(--text-primary) !important;
  font-size: 5rem !important;
}

h2 {
  color: var(--text-primary) !important;
  font-size: 3rem !important;
}

@media (min-width: 900px) {
  .wrap {
    font-size: 3rem;
  }

  p {
    font-size: 1.6rem !important;
  }

  h1 {
    color: var(--text-primary) !important;
    font-size: 8rem !important;
  }
}

:root {
  --background: #ffffff;
  --secondBackground: #ffffff;

  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-green: #000000;

  --blue-color: #4863f7;

  --paragraph-color: #8d8d8d;
}

[data-theme="dark"] {
  --background: #1d1d1f;
  --secondBackground: #000000;

  --text-primary: #ffffff;
  --text-secondary: white;
  --text-green: #04d361;

  --paragraph-color: #8d8d8d;
}
